---
---
@import "uno";
@import "tables";
@import "monokai";

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}

.shelf {
  padding-bottom: 15px;
}

.shelf:last-child {
  padding-bottom: 0px;
}

.shelves-of-15 {
  display: block;
}

.shelves-of-10 {
  display: none;
}

@media only screen and (max-width: 450px) {
  .shelves-of-15 {
    display: none;
  }

  .shelves-of-10 {
    display: block;
  }
}

.no-touch .books .book:hover {
  transform: scale(1.1);
}

.books {
  display: inline-block;
  border-bottom: solid 3px #806517;
  padding: 0 5px;

  .book {
    float: left;
    width: 22px;
    height: 67px;
    margin-right: 3px;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(57, 69, 79, 0.6);
    border-radius: 4px;
    transition: transform .2s;

    &:last-child {
      margin-right: 0px;
    }

    &.diamond-1 {
      background-image: url('/images/books/stems/diamond-1.svg');
    }

    &.diamond-2 {
      width: 18px;
      background-image: url('/images/books/stems/diamond-2.svg');
    }

    &.diamond-3 {
      width: 18px;
      height: 52px;
      margin-top: 67px - 52px;
      background-image: url('/images/books/stems/diamond-3.svg');
    }

    &.diamond-4 {
      width: 18px;
      height: 42px;
      margin-top: 67px - 42px;
      background-image: url('/images/books/stems/diamond-4.svg');
    }

    &.plain-1 {
      background-image: url('/images/books/stems/plain-1.svg');
    }

    &.plain-2 {
      width: 18px;
      background-image: url('/images/books/stems/plain-2.svg');
    }

    &.plain-3 {
      width: 18px;
      height: 52px;
      margin-top: 67px - 52px;
      background-image: url('/images/books/stems/plain-3.svg');
    }

    &.plain-4 {
      width: 18px;
      height: 42px;
      margin-top: 67px - 42px;
      background-image: url('/images/books/stems/plain-4.svg');
    }

    &.turning-pro {
      background-color: rgba(252,255,254,0.7);
    }

    &.art-language-invention {
      background-color: rgba(0, 0, 0, 0.7);
    }

    &.secrets-natural-success {
      background-color: rgba(105, 46, 23, 0.7);
    }

    &.roller-coaster {
      background-color: rgba(220, 1, 18, 0.7);
    }

    &.steve-jobs {
      background-color: rgba(255,255,255,0.7);
    }

    &.the-dip {
      background-color: rgba(20,149,222,0.7);
    }

    &.good-life {
      background-color: rgba(201,206,211,0.7);
    }

    &.fluent-forever {
      background-color: rgba(254,254,225,0.7);
    }

    &.teorio-nakamura {
      background-color: rgba(214,209,206,0.7);
    }

    &.how-to-learn {
      background-color: rgba(255,255,255,0.7);
    }

    &.rakonto-ovoj {
      background-color: rgba(7,141,0,0.7);
    }

    &.internet-money-1 {
      background-color: rgba(255,123,0,0.7);
    }

    &.internet-money-2 {
      background-color: rgba(96,25,142,0.7);
    }

    &.esperanto-learning-using {
      background-color: rgba(253,209,22,0.7);
    }

    &.being-colloquial {
      background-color: rgba(243,243,164,0.7);
    }

    &.five-elements {
      background-color: rgba(252,255,254,0.7);
    }

    &.fluent-3-months {
      background-color: rgba(40,45,180,0.8);
    }

    &.art-fear {
      background-color: rgba(219,207,175,0.7);
    }

    &.fail-at-everything {
      background-color: rgba(219,42,15,0.7);
    }

    &.hegarty-on-creativity {
      background-color: rgba(255,182,0,0.7);
    }

    &.do-the-work {
      background-color: rgba(255,255,255,0.7);
    }

    &.steal-like-an-artist {
      background-color: rgba(0,0,0,0.7);
    }

    &.show-your-work {
      background-color: rgba(255,204,0,0.7);
    }

    &.there-were-none {
      background-color: rgba(192,192,179,0.7);
    }

    &.children-succeed {
      background-color: rgba(255,255,255,0.7);
    }

    &.win-friends {
      background-color: rgba(168,0,11,0.7);
    }

    &.stock-operator {
      background-color: rgba(237,199,115,0.7);
    }

    &.delivering-happiness {
      background-color: rgba(119,153,177,0.7);
    }

    &.thank-you-economy {
      background-color: rgba(238,60,24,0.7);
    }

    &.predictably-irrational {
      background-color: rgba(0,92,165,0.7);
    }

    &.madness-of-crowds {
      background-color: rgba(115,35,43,0.7);
    }
  }
}

.clear {
  clear: both;
}

.selected-book {
  overflow: hidden;
  visibility: hidden;
  margin-top: 15px;

  .cover {
    float: left;
    width: 25%;
    max-width: 50px;
    height: 90px;
  }

  .details {
    float: left;
    width: 70%;
    margin-top: 1px;
    margin-left: 8px;

    .title {
      display: block;
      font-size: 18px;
      line-height: 22px;
    }

    .rating {
      display: block;
      margin-top: 8px;
      font-size: 14px;
      letter-spacing: 4px;
      font-weight: 900;
    }
  }
}

hr {
  &.full {
    width: 100%;
  }
}

.full-cover {
  width: 200px;
  padding-top: 100px;

  &.first {
    padding-top: 0;
  }
}

.title {
  font-size: 1.8em;
  line-height: 1.15em;
  display: block;
  color: #333;
}

.title:hover {
  color: #26acdc;
}

.details {
  margin-top: -5px;

  div {
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
  }
}

.notes {
  margin-top: 25px;
  font-weight: 500;
  max-height: 202px;
  overflow: hidden;

  &.expanded {
    max-height: none;
  }
}

.notes p:first-child {
  font-weight: 900;
  margin-top: -10px;
}

.notes-more {
  display: inline-block;
  margin-top: 5px;
}

.dual-text {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 1.3em;
  line-height: 1.8em;
}

.dual-text div {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center left;
  padding-left: 26px;
}

.dual-text.top div {
  margin-bottom: 10px;
  background-position: top 6px left;
  font-style: italic;
  color: #777;
}

.dual-text .eo {
  background-image: url('/images/esperanto/eo.png');
}

.dual-text .en {
  background-image: url('/images/esperanto/en.png');
}

.conversation {
  position: relative;
  border: solid 1px #ddd;
  margin-bottom: 20px;
  border-radius: 10px;
}

.conversation .info {
  background: #cff8cb;
  color: #367431;
  padding: 15px;
  margin: 10px;
  line-height: 22px;
  border-radius: 10px;
}

.conversation .messages {
  padding: 10px 0;
}

.conversation .messages .message {
  position: relative;
  margin: 10px 10px 20px 80px
}

.conversation .messages .message:last-child {
  margin-bottom: 10px;
}

.conversation .messages .message img {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: -70px;
  bottom: 0;
}

.conversation .messages .message .lines {
  display: inline-block;
  padding: 5px 10px;
  min-height: 50px;
  background: #f6f6f6;
  border-radius: 10px;
}

.conversation .messages .message .lines div {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center left;
  padding: 5px 10px 5px 26px;
  line-height: 20px;
}

.conversation .messages .message .lines .eo {
  background-image: url('/images/esperanto/eo.png');
}

.conversation .messages .message .lines .en {
  background-image: url('/images/esperanto/en.png');
}

.conversation .input {
  border-top: solid 1px #ddd;
  padding: 5px;
}

.conversation .input .buttons {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.conversation .input .buttons .button {
  background: #eee;
  border: solid 2px #eee;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  min-width: 40px;
  text-align: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.conversation .input .buttons .button.selected {
  opacity: 0.4;
}

.conversation .input .buttons .button.selected:hover {
  opacity: 0.4;
  background: #eee;
  border: solid 2px #eee;
  cursor: default;
}

.conversation .input .buttons .button:hover {
  background: #ddd;
  border: solid 2px #ccc;
  cursor: pointer;
}

.conversation .input .mistake {
  border: solid 2px #f7ada7;
  padding: 10px;
  margin: 5px 5px 15px 5px;
  line-height: 20px;
  border-radius: 10px;
  text-align: center;
  color: #ce766d;
  display: none;
}

.conversation .input .mistake b {
  font-weight: 900;
}

.conversation .input .skip {
  display: block;
  margin: 10px 0;
  text-align: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.conversation .input .complete {
  font-weight: 900;
  text-align: center;
  font-size: 16px;
  padding: 15px 0;
  line-height: 24px;
  display: none;
}

.conversation .clap {
  padding: 50px;
  font-size: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.message-template {
  display: none;
}
