*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-size: 65%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  background: #fdfdfd;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
}

article > * + * {
  margin-top: 1.4em;
}

input,
button,
textarea,
select {
  font: inherit;
}

::selection {
  background: #57aeff99;
  color: #222;
}

::-moz-selection {
  background: #57aeff99;
  color: #222;
}

body {
  padding: 30px 50px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif;
  font-size: 2rem;
  color: #222;
}

a {
  text-decoration: none;
  color: #579eff;
}

.container {
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

h1 {
  font-size: 3.1rem;
  font-weight: 600;
}

h2 {
  margin-top: 3px;
  font-size: 2.1rem;
  line-height: 2.6rem;
  font-weight: 300;
}

h3 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 20px;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

h3.main {
  text-transform: none;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #e0e0e0;
}

header .bio a {
  color: #222;
}

header .links {
  padding-top: 4px;
}

header .links a {
  margin-left: 10px;
}

header .links a svg:hover {
  stroke: #30a0ff;
}

header .links a svg:hover .masto,
header .links a svg:hover .yt {
  fill: #30a0ff;
}

nav {
  text-align: right;
  margin-bottom: 30px;
}

nav a {
  display: inline-block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 15px;
}

.profile {
  display: flex;
  gap: 20px;
  margin-top: -40px;
  margin-bottom: 25px;
}

.profile img {
  width: 100px;
  border: solid 2px #eee;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #f0f0f0;
}

.dark .profile img {
  border: solid 2px #111;
  box-shadow: 0px 0px 10px #0b0a0d;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.info section .title {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 20px;
}

.info section .item {
  font-size: 18px;
  display: flex;
  gap: 10px;
  margin-left: 20px;
  margin-bottom: 12px;
}

.info section .item:last-child {
  margin-bottom: 0;
}

article {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.9rem;
  letter-spacing: 0.2px;
  color: #444;
}

code {
  font-family: monospace;
  background: #f0f0f0;
  border: solid 1px #eee;
  padding: 3px 5px;
  border-radius: 5px;
}

blockquote {
  background: transparent;
  border-left: 4px solid #ccc;
  margin: 1.5rem 0;
  padding: 0.5rem 15px;
  font-style: italic;
  color: #999;
}

ul {
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0;
}

li {
  margin-top: 1.8rem;
  margin-left: 2.5em;
  position: relative;
}

li::before {
  content: "•";
  color: #ccc;
  font-size: 3rem;
  left: -2rem;
  top: -0.24rem;
  position: absolute;
}

p.esperanto-text {
  background-image: url("/assets/images/flags/eo.png");
  background-repeat: no-repeat;
  background-position: left 6px;
  background-size: 25px;
  padding-left: 37px;
}

p.english-text {
  background-image: url("/assets/images/flags/en.png");
  background-repeat: no-repeat;
  background-position: left 6px;
  background-size: 25px;
  padding-left: 37px;
}

p.english-text.center,
p.esperanto-text.center {
  background-position: left center;
  background-size: 20px;
  padding-left: 32px;
}

p.english-text.closer,
p.esperanto-text.closer {
  margin-top: 0;
}

.green-left-border {
  border-left: solid 3px #4bd44bac;
  padding-left: 15px;
  padding: 3px 0 0 15px;
}

.green-left-border p {
  margin-top: 1.4em;
}

.green-left-border p:first-child {
  margin-top: 0;
}

.article-link {
  display: flex;
  color: #444;
  margin-top: 3rem;
}

.article-link:nth-of-type(1) {
  margin-top: 0;
}

.article-link .time {
  padding: 8px;
  background: #f9f9f9;
  border: solid 2px #eee;
  border-radius: 8px;
  color: #666;
  min-width: 65px;
  text-align: center;
  line-height: 1.5;
}

.article-link .time .month {
  font-size: 1.7rem;
  text-transform: uppercase;
}

.article-link .time .year {
  font-size: 1.5rem;
}

.article-link .details {
  margin-left: 20px;
  max-width: 75%;
}

.article-link .details .title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.9rem;
}

.article-link .details .summary {
  margin-top: 5px;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #666;
}

.video-container {
  height: 0px;
  padding-top: 0px;
  padding-bottom: 56.2%;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.conversation {
  position: relative;
  border: solid 1px #ddd;
  margin-bottom: 20px;
  border-radius: 10px;
}

.dark ::selection {
  background: #57aeff;
  color: #222;
}

.dark ::-moz-selection {
  background: #57aeff;
  color: #222;
}

.dark a {
  color: #57aeff;
}

.dark .conversation {
  border-color: #555;
}

.conversation .info {
  background: #cff8cb;
  color: #367431;
  padding: 15px;
  margin: 10px;
  line-height: 2.5rem;
  border-radius: 10px;
}

.dark .conversation .info {
  background: #444;
  color: #ccc;
}

.conversation .messages {
  padding: 10px 0;
}

.conversation .messages .message {
  position: relative;
  margin: 10px 10px 20px 80px;
}

.conversation .messages .message:last-child {
  margin-bottom: 10px;
}

.conversation .messages .message img {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: -70px;
  bottom: 0;
}

.conversation .messages .message .lines {
  display: inline-block;
  padding: 5px 10px;
  min-height: 50px;
  background: #f6f6f6;
  border-radius: 10px;
}

.dark .conversation .messages .message .lines {
  background: #444;
  color: #fff;
}

.conversation .messages .message .lines div {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center left;
  padding: 5px 10px 5px 26px;
  line-height: 20px;
}

.conversation .messages .message .lines .eo {
  background-image: url("/assets/by-post/fzt/eo.png");
}

.conversation .messages .message .lines .en {
  background-image: url("/assets/by-post/fzt/en.png");
}

.conversation .input {
  border-top: solid 1px #ddd;
  padding: 5px;
}

.dark .conversation .input {
  border-color: #555;
}

.conversation .input .buttons {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.conversation .input .buttons .button {
  background: #eee;
  border: solid 2px #eee;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  min-width: 40px;
  text-align: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.dark .conversation .input .buttons .button {
  border-color: #555;
  background: #444;
  color: #fff;
}

.conversation .input .buttons .button.selected {
  opacity: 0.4;
}

.conversation .input .buttons .button.selected:hover {
  opacity: 0.4;
  background: #eee;
  border: solid 2px #eee;
  cursor: default;
}

.dark .conversation .input .buttons .button.selected:hover {
  border-color: #555;
  background: #444;
}

.conversation .input .buttons .button:hover {
  background: #ddd;
  border: solid 2px #ccc;
  cursor: pointer;
}

.dark .conversation .input .buttons .button:hover {
  border-color: #666;
  background: #555;
}

.conversation .input .mistake {
  border: solid 2px #f7ada7;
  padding: 10px;
  margin: 5px 5px 15px 5px;
  line-height: 3rem;
  border-radius: 10px;
  text-align: center;
  color: #ce766d;
  display: none;
}

.dark .conversation .input .mistake {
  border: solid 2px #f78d87;
  color: #ee766d;
}

.conversation .input .mistake b {
  font-weight: 900;
}

.conversation .input .skip {
  display: block;
  margin: 10px 0;
  text-align: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.conversation .input .complete {
  font-weight: 900;
  text-align: center;
  padding: 15px 0;
  line-height: 24px;
  display: none;
}

.dark .conversation .input .complete {
  color: #fff;
}

.conversation .clap {
  padding: 50px;
  font-size: 100px;
  line-height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.message-template {
  display: none;
}

.code-block {
  background: #222;
  color: #fff;
  font-family: monospace;
  padding: 10px;
}

.dark .code-block {
  background: #3a3a3a;
}

.date {
  background-image: url("/assets/images/general/time.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left center;
  padding-left: 23px;
  color: #999;
  font-size: 17px;
}

.past-now-entries {
  margin-top: 30px;
  padding-top: 30px;
  border-top: solid 1px #ddd;
}

.dark .past-now-entries {
  border-top: solid 1px #444;
}

.past-now-entries .label {
  text-transform: uppercase;
  color: #999;
  font-size: 15px;
}

.past-now-entries .entries {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 15px;
}

.past-now-entries .entries a {
  border: solid 1px #ddd;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 15px;
  padding: 4px 7px;
  white-space: nowrap;
}

.dark .past-now-entries .entries a {
  border: solid 1px #444;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags a {
  color: #666;
  background: #f8f8f8;
  border: solid 1.5px #ddd;
  border-radius: 5px;
  padding: 3px 7px;
  margin: 0 8px 8px 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2rem;
}

.dark .tags a {
  border-color: #555;
  background: rgb(36, 41, 46);
  color: #eee;
}

.tags a:hover,
.tags a.active {
  border: solid 1.5px #30a0ff;
  color: #30a0ff;
}

.dark .tags a:hover,
.dark .tags a.active {
  border: solid 1.5px #30a0ff;
  color: #30a0ff;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.books a {
  margin: 0 28px 28px 0;
}

.books a img {
  width: 170px;
  height: 246px;
}

/* --- dark mode --- */

.dark {
  background: #222;
  background: rgb(15, 20, 25);
  color: #fff;
}

.dark header {
  border-color: rgb(33, 40, 47);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4 {
  color: #f9f9f9;
}

.dark .typewriter .greetings h3 {
  border-left-color: #fff;
  border-right-color: #fff;
}

.dark .typewriter .greetings h3.hebrew {
  animation:
    typing 0.5s steps(4, end),
    blink-caret-dark 0.7s step-end infinite;
}

.dark .typewriter .greetings h3.esperanto {
  animation:
    typing 0.5s steps(7, end),
    blink-caret-dark 0.7s step-end infinite;
}

.dark .typewriter .greetings h3.german {
  animation:
    typing 0.5s steps(5, end),
    blink-caret-dark 0.7s step-end infinite;
}

.dark .typewriter .greetings h3.spanish {
  animation:
    typing 0.5s steps(4, end),
    blink-caret-dark 0.7s step-end infinite;
}

.dark .typewriter .greetings h3.english {
  animation:
    typing 0.5s steps(5, end),
    blink-caret-dark 0.7s step-end infinite;
}

.dark .article-link {
  color: #fff;
}

.dark .article-link .time {
  background: rgb(20, 25, 30);
  border: solid 2px rgb(33, 40, 47);
  color: #bbb;
}

.dark .article-link .summary {
  color: #bbb;
}

.dark svg {
  stroke: #fff;
  fill: none;
}

svg .masto,
svg .yt {
  fill: #333;
}

.dark svg .masto,
.dark svg .yt {
  fill: #fff;
}

.dark p {
  color: #f0f0f0;
}

.dark li {
  color: #f0f0f0;
}

.dark code {
  background: #444;
  border-color: #555;
}

.dark blockquote {
  background: transparent;
  border-color: #4c4c4c;
  color: #999;
  font-style: italic;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.projects .project {
  background: #f9f9f9;
  border: solid 2px #eee;
  border-radius: 8px;
  margin-bottom: 4%;
  min-width: 280px;
  width: 48%;
  padding-bottom: 15px;
  color: #222;
}

.dark .projects .project {
  background: rgb(23, 28, 33);
  border-color: rgb(33, 40, 47);
  color: #fff;
}

.projects .project h4 {
  font-weight: 500;
  font-size: 2rem;
  padding: 20px 20px 0 20px;
  text-align: center;
  color: #444;
}

.dark .projects .project h4 {
  color: #fff;
}

.projects .project .image {
  margin: 0 auto 20px auto;
  line-height: 0;
  overflow: hidden;
}

.projects .project .image img {
  width: 100%;
  height: 100%;
}

.projects .project p {
  padding: 0 30px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
}

.projects .project .tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projects .project .tags span {
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  background: #eee;
  border: solid 1.5px #ddd;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 5px;
  letter-spacing: 0.05rem;
}

.dark .projects .project .tags span {
  border-color: rgb(44, 53, 62);
  background: rgb(36, 41, 46);
  color: #fff;
}

.toast {
  position: fixed;
  right: 20px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  background: #f2f2f2;
  border: solid 2px #eaeaea;
  color: #222;
  white-space: nowrap;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 6px;
  opacity: 0;
}

.toast.show {
  animation: toast-in 250ms cubic-bezier(0.25, 0.5, 0.25, 1.5) forwards;
}

.toast.hide {
  animation: toast-out 250ms ease-out forwards;
}

.toast svg {
  width: 22px;
  stroke: #222;
}

@keyframes toast-in {
  from {
    opacity: 0.3;
    bottom: 0;
  }

  to {
    opacity: 1;
    bottom: 20px;
  }
}

@keyframes toast-out {
  from {
    opacity: 1;
    bottom: 20px;
  }

  to {
    opacity: 0;
    bottom: 0px;
  }
}

.dark .toast {
  color: #fff;
  background: rgb(25, 30, 35);
  border: solid 2px rgb(32, 37, 42);
}

.dark .toast svg {
  stroke: #fff;
}

@media screen and (max-width: 600px) {
  .projects .project {
    margin-bottom: 4%;
    min-width: 280px;
    width: 98%;
  }
}

@media screen and (max-width: 750px) {
  body {
    padding: 30px 20px;
  }

  header {
    display: flex;
    justify-content: left;
  }

  header .bio {
    text-align: center;
    width: 100%;
  }

  header .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 20px;
  }

  header .links a {
    margin: 0 10px;
  }

  header h2 {
    margin-top: 2px;
  }

  nav {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: solid 1px #e0e0e0;
  }

  .profile {
    margin-top: 0;
    padding-top: 10px;
  }

  .dark nav {
    border-bottom: solid 1px #303030;
    border-bottom: solid 1px rgb(33, 40, 47);
  }

  nav a {
    margin: 0 8px 8px 8px;
  }

  .tags {
    justify-content: left;
  }

  .books {
    justify-content: center;
  }
}
